body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-wrapper {
  width: 100%;
  max-width: 1200px; /* You can set this to the desired maximum width */
  margin: 0 auto; /* Center the wrapper */
  padding: 20px; /* Give some space around the content */
  box-sizing: border-box; /* Make sure padding is included in the width */
}

.board {
  display: flex;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}
.cell {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid black;
}
.cell-shot {
  background-color: grey;
}
.cell-shot.cell-ship {
  background-color: red;
}
/* If you want a responsive design, you can add some media queries */
@media (max-width: 768px) {
  .page-wrapper {
    padding: 15px; /* Reduce padding on smaller screens */
  }
}
